* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    color: #333333;
}

header {
    padding: 2rem 2rem 1rem;
}

.logo {
    max-width: 8rem;
    margin: 0 auto;
}

main {
    margin: 2rem 1.5rem;
}

.question, .message {
    text-align: center;
    max-width: 75%;
    margin: 0 auto 1rem;
}

.cards {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: cards .5s ease-in;
}

.card {
    flex: 45%;
    margin: .5rem .5rem;
    border-radius: .5rem;
}

.card img {
    position: relative;
    border-radius: .5rem;
    border: .2rem solid #333;
    box-shadow: 0 .4rem 0 #333333;
    top: 0px;
    transition: All 250ms ease;
}

.card img:hover {
    position: relative;
    cursor: pointer;
    top: .4rem;
    box-shadow: 0 0 0 #333333;
}

.card.active img {
    opacity: .6;
    top: .4rem;
    box-shadow: 0 0 0 #333333;
    transition: All 250ms ease;
}


.analytics {
    text-align: center;
    margin: 1rem 1rem;
}

.analytics__button {
    position: relative;
    padding: .75rem 1.5rem;
    background-color: #ffffff;
    color: #333333;
    font-weight: bold;
    border: .2rem solid #333333;
    top: 0;
    border-radius: .5rem;
    box-shadow: 0 .4rem 0 #333333;
}

.analytics__button:hover {
    position: relative;
    top: .4rem;
    box-shadow: 0 0 0 #333333;
    transition: All 250ms ease;
    cursor: pointer;
}

.analytics__results {
    display: none;
}


/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  
.modal-content {
    background-color: #ffffff;
    color: #333333;
    margin: 40% auto;
    padding: 20px;
    border: .2rem solid #333;
    border-radius: .5rem;
    box-shadow: 2px 2px 7px #333333;
    width: 80%;
    min-height: 25vh;
}

.close {
    color: #333333;
    float: right;
    font-size: 28px;
}

.close:hover, .close:focus {
    opacity: .75;
    text-decoration: none;
    cursor: pointer;
}

.close.button {
    margin: 1rem;
}


@keyframes cards {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

